/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

.not-logged-in .tabs--primary {
  display: none;
}

#user-login .form-control {
  width: 65%;
}

.front .navbar {
  margin-bottom: auto !important;
}

#block-views-banners-block .css-banner {
  margin-left: -55px;
  margin-right: -15px;
}

#block-views-banners-block .css-banner ul {
  list-style-type: none;
}

.container-fluid .row .page-header {
  display: none;
}

.not-logged-in.navbar.container,
.not-logged-in .navbar.container-fluid {
  margin-top: auto !important;
}
