/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */

.not-logged-in .tabs--primary {
  display: none;
}

/* #user-login .form-control {
  width: 65%;
} */

.front .navbar {
  margin-bottom: auto !important;
}

#block-views-banners-block .css-banner {
  margin-left: -55px;
  margin-right: -15px;
}

#block-views-banners-block .css-banner ul {
  list-style-type: none;
}

.container-fluid .row .page-header {
  display: none;
}

.not-logged-in.navbar.container,
.not-logged-in .navbar.container-fluid {
  margin-top: auto !important;
}

#block-views-sobrenos-block {
  padding-top: 70px;
}

.view-id-sobrenos {
   margin-bottom: 15%;
}

.view-id-sobrenos .view-content .views-field-title {
  font-size: 22px;
  color: #337ab7;
  margin: 10px;
}

.view-id-sobrenos .view-content .views-field-field-description {
  font-size: 18px;
  padding-top: 19px;
  padding-right: 84px;
  padding-bottom: 7px;
  padding-left: 104px;
}

.view-id-sobrenos .view-content .views-field-field-ytvideo {
  margin-left: 23px;
}

.view-id-sobrenos .view-content .views-field {
  text-align: center;
}

.container-user-logged {
  height: 200px;
  position: relative;
}

.container-user-logged .wellcome {
  margin: 0;
  position: relative;
  top: 114%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 22px;
}

#schedulerModal .modal-body .info-text {
  padding-left: 50px;
  padding-top: 33px;
}

#schedulerModal .modal-body .row-description {
  padding-left: 50px;
  padding-right: 50px;
}

.footer {
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.login-link {
  margin-top: 110px;
  background-color: #337ab7; /* Green */
  font-weight: bold;
  font-size: 20pt;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 300px;
  margin-left: 4px;
}
.register-link {
  color: #fff;
  background-color: #4CAF50;  
  font-weight: bold;
  border-color: #2e6da4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  width: 300px;
  margin-left: 4px;
}
.login-link:hover, .register-link:hover{
  color: rgb(230, 230, 230);
  text-decoration: none;
}

.clearfix {
  text-align: left;
}

.form-group, .form-control{
    max-width: 400px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    /* padding-right: 4px; */
}
#edit-field-birthday-und-0-value {
  margin: auto;
  text-align: center;
}
.form-item-field-birthday-und-0-value-date{
  margin: auto;
}

#block-system-main{
  text-align: center;
  margin: auto;
}

/* .form-group{
  margin: auto;
  max-width: 400px;
} */

/* #edit-actions {
  min-width: 150px;
  text-align: center;
  margin: auto;
} */
